# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Python compiled files
*.pyc
cime_config/buildnmlc
cime_config/buildexec

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
